<html>
 
<head>
    <title>Railway Reservation</title>
    <style>
             body{
        background-color: rgb(249, 205, 255);
    }
    table.center {
            margin-left: auto; 
            margin-right: auto;
    }
    h1{
        color: brown;
    }
    table{
        border: solid 2px green;
    }
    table th,td{
        border: solid 2px rgb(77, 0, 128);
        padding: 10px;
    } 
    span{
        font-size: xx-large;
        color: brown;
    }

</style>
</head>
<body>
    <p style="margin-left:550px;"><a href="train"></a></p>

    <div class="container">
            <table class="center">
                <caption><span>Edit & Update</span></caption>
        
            <tbody>
                <form method="GET"  action="{% url 'routeupdate' id %}">                 
                    {% csrf_token %}
                    <tr>
                        <td>Route id</td>
                        <td><input type="text" name="Route_id" ></td>
                    </tr>

                    <tr>
                        <td>Source id</td>
                        <td><input type="text" name="Source_id" ></td>
                    </tr>
                    <tr>
                        <td>Destination id</td>
                        <td><input type="text" name="Destination_id"></td>
                    </tr>

                        <td colspan="4"><button>Update</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</body>
 
</html>
