<html>
 
<head>
    <title>Railway Reservation</title>
    <style>
     body{
        background-color: rgb(213, 205, 255);
    }
    table.center {
            margin-left: auto; 
            margin-right: auto;
    }
    h1{
        color: brown;
    }
    table{
        border: solid 2px green;
    }
    table th,td{
        border: solid 2px rgb(128, 0, 117);
        padding: 10px;
    } 
    span{
        font-size: xx-large;
        color: brown;
    }

</style>
</head>
<body>
    <p style="margin-left:550px;"><a href="train"></a></p>

    <div class="container">
        <table>
            <table class="center">
                <caption><span><span>Edit & Update</caption>
        
            <tbody>
                <form method="GET"  action="{% url 'stationupdate' id %}"> 

                    <tr>
                        <td>Station id</td>
                        <td><input type="text" name="Station_id" ></td>
                    </tr>
                    <tr>
                        <td>Station name</td>
                        <td><input type="text" name="Station_name" ></td>
                    </tr>

                        <td colspan="4"><button>Update</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</body>
 
</html>
